{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
    <section class="section-about"></section>
    <h2>
        В нашем салоне вы можете:
    </h2>
    <section class="section-h">

        <h3 align="middle" style="color:black"> Сделать уходовые процедуры </h3>
        <img align="middle" src="{% static 'img/file22.jpg' %}" width="250" height="300"/> <img align="middle" src="{% static 'img/file16.jpg' %}"
                                                                                 width="250" height="300"/> <img
            align="middle" src="{% static 'img/file14.jpg' %}" height="300"/>

        <h3 align="middle" style="color:black"> Посетить косметолога </h3>
        <img align="middle" src="{% static 'img/file21.jpg' %}" width="250" height="300"/> <img align="middle" src="{% static 'img/file20.jpg' %}"
                                                                                 width="250" height="300"/> <img
            align="middle" src="{% static 'img/file26.jpg' %}" width="250" height="300"/>

        <h3 align="middle" style="color:black"> Посетить мастера маникюра </h3>
        <img align="middle" src="{% static 'img/file25.jpg' %}" width="250" height="300"/> <img align="middle" src="{% static 'img/file28.jpg' %}"
                                                                                 width="250" height="300"/> <img
            align="middle" src="{% static 'img/file30.jpg' %}" width="250" height="300"/>

        <h3 align="middle" style="color:black"> Посетить мастера-бровиста </h3>
        <img align="middle" src="{% static 'img/file24.jpg' %}" width="250" height="300"/> <img align="middle" src="{% static 'img/file23.jpg' %}"
                                                                                 width="250" height="300"/> <img
            align="middle" src="{% static 'img/file27.jpg' %}" width="250" height="300"/>

    </section>


    <section>
        <h3><em> Для записи перейдите на страницу "Контакты" </em></h3>

    </section>
</main>

{% endblock %}