<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>Klassy Cafe</title>
<!--
    
TemplateMo 558 Klassy Cafe

https://templatemo.com/tm-558-klassy-cafe

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css'%}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-klassy-cafe.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="static/assets/images/klassy-logo.png" align="klassy cafe html template">
                        </a>
                        <!-- ***** Logo End ***** -->

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                           	
                        <!-- 
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down Page 1</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        -->
                            <li class="scroll-to-section"><a href="#menu">Menu</a></li>
                            <li class="scroll-to-section"><a href="#chefs">Chefs</a></li> 
                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a href="#">Features Page 4</a></li>
                                </ul>
                            </li>
                            <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                            <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">
                        <div class="inner-content">
                            <h4>KlassyCafe</h4>
                            <div class="main-white-button scroll-to-section">
                                <a href="#reservation">Зарезервировать столик</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="static/assets/images/slide-01.jpg" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="static/assets/images/slide-02.jpg" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="static/assets/images/slide-03.jpg" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>О нас</h6>
                            <h2>Мы оставим вкусные впечатления</h2>
                        </div>
                        <p>Klassy Cafe - лучший ресторан  <br><br>Даже не сомневайтесь</p>
                        <div class="row">
                            <div class="col-4">
                                <img src="static/assets/images/about-thumb-01.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="static/assets/images/about-thumb-02.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="static/assets/images/about-thumb-03.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            <a rel="nofollow" href="http://youtube.com"><i class="fa fa-play"></i></a>
                            <img src="static/assets/images/about-video-bg.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-heading">
                        <h6>Наше меню</h6>
                        <h2>Наш ассортимент десертов</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item-carousel">
            <div class="col-lg-12">
                <div class="owl-menu-item owl-carousel">
                    <div class="item">
                        <div class='card card1'>
                            <div class="price"><h6>$14</h6></div>
                            <div class='info'>
                              <h1 class='title'>Шоколадный тортик</h1>
                              <p class='description'>Ооочень вкусно</p>
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="#reservation">Зарезервировать <i class="fa fa-angle-down"></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class='card card2'>
                            <div class="price"><h6>$22</h6></div>
                            <div class='info'>
                              <h1 class='title'>Панкейки</h1>
                              <p class='description'>Ооочень вкусно</p>
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="#reservation">Зарезервировать <i class="fa fa-angle-down"></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class='card card3'>
                            <div class="price"><h6>$18</h6></div>
                            <div class='info'>
                              <h1 class='title'>Свежеиспеченный хлеб</h1>
                              <p class='description'>Ооочень вкусно</p>
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="#reservation">Зарезервировать <i class="fa fa-angle-down"></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class='card card4'>
                            <div class="price"><h6>$10</h6></div>
                            <div class='info'>
                              <h1 class='title'>Черничный чизкейк</h1>
                              <p class='description'> Ооочень вкусно</p>
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="#reservation">Зарезервировать <i class="fa fa-angle-down"></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class='card card5'>
                            <div class="price"><h6>$8.50</h6></div>
                            <div class='info'>
                              <h1 class='title'>Капкейки</h1>
                              <p class='description'>Ооочень вкусно</p>
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="#reservation">Зарезервировать<i class="fa fa-angle-down"></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class='card card3'>
                            <div class="price"><h6>$7.25</h6></div>
                            <div class='info'>
                              <h1 class='title'>Торт</h1>
                              <p class='description'>Ооочень вкусно</p>
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="#reservation">Зарезервировать<i class="fa fa-angle-down"></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Menu Area Ends ***** -->

    <!-- ***** Chefs Area Starts ***** -->
    <section class="section" id="chefs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Наши специалисты</h6>
                        <h2>Мы используем лучшие ингредиенты для вас</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
<!--                            <ul class="social-icons">-->
<!--&lt;!&ndash;                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>&ndash;&gt;-->
<!--                            </ul>-->
                            <img src="static/assets/images/chefs-01.jpg" alt="Chef #1">
                        </div>
                        <div class="down-content">
                            <h4>Какой-то чел</h4>
                            <span>Бариста</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
<!--                            <ul class="social-icons">-->
<!--                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
<!--                            </ul>-->
                            <img src="static/assets/images/chefs-02.jpg" alt="Chef #2">
                        </div>
                        <div class="down-content">
                            <h4>какой-то чел</h4>
                            <span>кондитер</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
<!--                            <ul class="social-icons">-->
<!--                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-google"></i></a></li>-->
<!--                            </ul>-->
                            <img src="static/assets/images/chefs-03.jpg" alt="Chef #3">
                        </div>
                        <div class="down-content">
                            <h4>какой то чел</h4>
                            <span>шеф-повар</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Chefs Area Ends ***** -->



    <!-- ***** Reservation Us Area Starts ***** -->
    <section class="section" id="reservation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Наши контакты</h6>
                            <h2>Вы можете зарезервировать столик или просто прийти к нам</h2>
                        </div>
                        <p>Можете связаться с нами по телефону или через почту</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="phone">
                                    <i class="fa fa-phone"></i>
                                    <h4>Телефон</h4>
                                    <span><a href="#">080-090-0990</a><br><a href="#">080-090-0880</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="message">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Emails</h4>
                                    <span><a href="#">hello@company.com</a><br><a href="#">info@company.com</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                            {% csrf_token %}
                          <div class="row">
                            <div class="col-lg-12">
                                <h4>Форма регистрации</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
<!--                              <fieldset>-->
<!--                                <input name="name" type="text" id="name" placeholder="ваше имя*" required="">-->
<!--                              </fieldset>-->
                                 {{ form.name }}
                                {% if form.name.errors %}
                                    <div class="alert alert-danger">{{ form.name.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-lg-6 col-sm-12">
<!--                              <fieldset>-->
<!--                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="ваш Email" required="">-->
<!--                            </fieldset>-->
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="alert alert-danger">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="col-lg-6 col-sm-12">
<!--                              <fieldset>-->
<!--                                <input name="phone" type="text" id="phone" placeholder="ваш номер телефона*" required="">-->
<!--                              </fieldset>-->

                                {{ form.phone }}
                                {% if form.phone.errors %}
                                 <div class="alert alert-danger mt-2">{{ form.phone.errors }}</div>
                                {% endif %}

                            </div>
                            <div class="col-md-6 col-sm-12">
<!--                              <fieldset>-->
<!--                                <select value="number-guests" name="number-guests" id="number-guests">-->
<!--                                    <option value="number-guests">Количество гостей</option>-->
<!--                                    <option name="1" id="1">1</option>-->
<!--                                    <option name="2" id="2">2</option>-->
<!--                                    <option name="3" id="3">3</option>-->
<!--                                    <option name="4" id="4">4</option>-->
<!--                                    <option name="5" id="5">5</option>-->
<!--                                    <option name="6" id="6">6</option>-->
<!--                                    <option name="7" id="7">7</option>-->
<!--                                    <option name="8" id="8">8</option>-->
<!--                                    <option name="9" id="9">9</option>-->
<!--                                    <option name="10" id="10">10</option>-->
<!--                                    <option name="11" id="11">11</option>-->
<!--                                    <option name="12" id="12">12</option>-->
<!--                                </select>-->
<!--                              </fieldset>-->
                                {{ form.guests }}
                                {% if form.guests.errors %}
                                    <div class="alert alert-danger mt-2">{{ form.guests.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-lg-6">
<!--                                <div id="filterDate2">    -->
<!--                                  <div class="input-group date" data-date-format="dd/mm/yyyy">-->
<!--                                    <input  name="date" id="date" type="text" class="form-control" placeholder="dd/mm/yyyy">-->
<!--                                    <div class="input-group-addon" >-->
<!--                                      <span class="glyphicon glyphicon-th"></span>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                </div>   -->
                                {{ form.date }}
                                {% if form.date.errors %}
                                    <div class="alert alert-danger mt-2">{{ form.date.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-sm-12">
<!--                              <fieldset>-->
<!--                                <select value="time" name="time" id="time">-->
<!--                                    <option value="time">время</option>-->
<!--                                    <option name="Breakfast" id="Breakfast">Завтрак</option>-->
<!--                                    <option name="Lunch" id="Lunch">Обед</option>-->
<!--                                    <option name="Dinner" id="Dinner">Ужин</option>-->
<!--                                </select>-->
<!--                              </fieldset>-->
                                {{ form.time }}
                                {% if form.time.errors %}
                                <div class="alert alert-danger mt-2">{{ form.time.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-lg-12">
<!--                              <fieldset>-->
<!--                                <textarea name="message" rows="6" id="message" placeholder="комментарии и пожелания" required=""></textarea>-->
<!--                              </fieldset>-->
                                {{ form.message }}
                                {% if form.message.errors %}
                                <div class="alert alert-danger mt-2">{{ form.message.errors }}</div>
                                {% endif %}

<!--                           КНОПКА С БОТОМ      -->

                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="main-button-icon"> <a href="https://t.me/Alina_Shul_bot"  target="_blank">
                                 Зарезервировать через Telegram
                            </a>

                                </button>
                            </div>



                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<!--        &lt;!&ndash;                           КНОПКА С ЛАЙКАМИ      &ndash;&gt;-->
<!--        <div class="content-item" data-content-type="article" data-object-id="{{ article.id }}">-->
<!--    <h2>{{ article.title }}</h2>-->
<!--    <div class="likes-dislikes">-->
<!--        <button class="like-btn">Like (<span class="likes-count">{{ article.likes_count }}</span>)</button>-->
<!--        <button class="dislike-btn">Dislike (<span class="dislikes-count">{{ article.dislikes_count }}</span>)</button>-->
<!--    </div>-->

<!--    <div class="comments-section">-->
<!--        <h3>Comments</h3>-->
<!--        <div class="comments-list">-->
<!--            {% for comment in article.comments.all %}-->
<!--                <div class="comment" data-comment-id="{{ comment.id }}">-->
<!--                    <strong>{{ comment.user.username }}</strong>-->
<!--                    <p>{{ comment.text }}</p>-->
<!--                    <small>{{ comment.created_at }}</small>-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--        </div>-->

<!--        <form class="comment-form">-->
<!--            <textarea class="comment-text" required></textarea>-->
<!--            <button type="submit">Add Comment</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->




<style>
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 5px 10px;
    border-radius: 4px;
}
</style>



    </section>
    <!-- ***** Reservation Area Ends ***** -->

    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="offers">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Klassy Week</h6>
                        <h2>Специальные предложения этой недели</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-6 offset-lg-3">
                                        <ul>
                                          <li><a href='#tabs-1'><img src="static/assets/images/tab-icon-01.png" alt="">Завтрак</a></li>
                                          <li><a href='#tabs-2'><img src="static/assets/images/tab-icon-02.png" alt="">Обед</a></a></li>
                                          <li><a href='#tabs-3'><img src="static/assets/images/tab-icon-03.png" alt="">Ужин</a></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-01.png" alt="">
                                                            <h4>Салат из свежих овощей с курицей</h4>
                                                            <p>Ооочень вкусно какойт</p>
                                                            <div class="price">
                                                                <h6>$10.50</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-02.png" alt="">
                                                            <h4>Апельсиновый сок</h4>
                                                            <p>Ооочень вкусно</p>
                                                            <div class="price">
                                                                <h6>$8.50</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-03.png" alt="">
                                                            <h4>Фруктовый салат</h4>
                                                            <p>тоже ооочень вкусный</p>
                                                            <div class="price">
                                                                <h6>$9.90</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-04.png" alt="">
                                                            <h4>Омлет</h4>
                                                            <p>вкусно</p>
                                                            <div class="price">
                                                                <h6>$6.50</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-05.png" alt="">
                                                            <h4>какой-то суп</h4>
                                                            <p>просто вкусно</p>
                                                            <div class="price">
                                                                <h6>$5.00</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-06.png" alt="">
                                                            <h4>омлет с сыром</h4>
                                                            <p>вкусно</p>
                                                            <div class="price">
                                                                <h6>$4.10</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>  
                                <article id='tabs-2'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-04.png" alt="">
                                                            <h4>омлет </h4>
                                                            <p>вкусно</p>
                                                            <div class="price">
                                                                <h6>$14</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-05.png" alt="">
                                                            <h4>суп</h4>
                                                            <p>вкусно</p>
                                                            <div class="price">
                                                                <h6>$18</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-06.png" alt="">
                                                            <h4>омлет с сыром</h4>
                                                            <p>вкусно</p>
                                                            <div class="price">
                                                                <h6>$22</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-01.png" alt="">
                                                            <h4>салатes</h4>
                                                            <p>название на галинском</p>
                                                            <div class="price">
                                                                <h6>$10</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-02.png" alt="">
                                                            <h4>Апельсиновый сок</h4>
                                                            <p>вкусный</p>
                                                            <div class="price">
                                                                <h6>$20</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-03.png" alt="">
                                                            <h4>салатes.оливьеdes</h4>
                                                            <p>вкусно</p>
                                                            <div class="price">
                                                                <h6>$30</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>  
                                <article id='tabs-3'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-05.png" alt="">
                                                            <h4>Eggs Omelette</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$14</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-03.png" alt="">
                                                            <h4>Orange Juice</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$18</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-02.png" alt="">
                                                            <h4>Fruit Salad</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$10</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-06.png" alt="">
                                                            <h4>Fresh Chicken Salad</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$8.50</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-01.png" alt="">
                                                            <h4>Dollma Pire</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$9</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="static/assets/images/tab-item-04.png" alt="">
                                                            <h4>Omelette & Cheese</h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                                            <div class="price">
                                                                <h6>$11</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>   
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Chefs Area Ends ***** --> 

<!-- Основные стили карточек -->
<!--<style>-->

<!--.reservation-card {-->
<!--    background: white;-->
<!--    border-radius: 12px;-->
<!--    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);-->
<!--    padding: 24px;-->
<!--    margin-bottom: 20px;-->
<!--    transition: all 0.3s ease;-->
<!--    border: 1px solid #f0f0f0;-->
<!--    position: relative;-->
<!--    overflow: hidden;-->
<!--}-->

<!--.reservation-card:hover {-->
<!--    transform: translateY(-5px);-->
<!--    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);-->
<!--}-->

<!--/* Заголовок и дата */-->
<!--.reservation-header {-->
<!--    display: flex;-->
<!--    justify-content: space-between;-->
<!--    align-items: flex-start;-->
<!--    margin-bottom: 12px;-->
<!--}-->

<!--.reservation-title {-->
<!--    font-family: 'Playfair Display', serif;-->
<!--    font-size: 1.4rem;-->
<!--    color: #2a2a2a;-->
<!--    margin: 0;-->
<!--    font-weight: 600;-->
<!--    line-height: 1.4;-->
<!--    flex: 1;-->
<!--}-->

<!--.reservation-date {-->
<!--    font-size: 0.9rem;-->
<!--    color: #888;-->
<!--    background: #f8f8f8;-->
<!--    padding: 4px 10px;-->
<!--    border-radius: 20px;-->
<!--    margin-left: 15px;-->
<!--}-->

<!--/* Мета-информация */-->
<!--.reservation-meta {-->
<!--    display: flex;-->
<!--    gap: 15px;-->
<!--    margin-bottom: 20px;-->
<!--}-->

<!--.reservation-time,-->
<!--.reservation-persons {-->
<!--    font-size: 0.95rem;-->
<!--    color: #555;-->
<!--    display: flex;-->
<!--    align-items: center;-->
<!--}-->

<!--.reservation-time::before {-->
<!--    margin-right: 5px;-->
<!--}-->

<!--.reservation-persons::before {-->
<!--    margin-right: 5px;-->
<!--}-->

<!--/* Кнопки оценок */-->
<!--.reservation-actions {-->
<!--    display: flex;-->
<!--    gap: 10px;-->
<!--    border-top: 1px solid #f0f0f0;-->
<!--    padding-top: 15px;-->
<!--}-->

<!--.vote-btn {-->
<!--    border: none;-->
<!--    background: #f8f8f8;-->
<!--    padding: 8px 16px;-->
<!--    border-radius: 20px;-->
<!--    cursor: pointer;-->
<!--    transition: all 0.3s;-->
<!--    display: flex;-->
<!--    align-items: center;-->
<!--    font-size: 0.95rem;-->
<!--}-->

<!--.vote-btn:hover {-->
<!--    transform: scale(1.05);-->
<!--}-->

<!--.like-btn:hover {-->
<!--    background: #e8f5e9;-->
<!--    color: #2e7d32;-->
<!--}-->

<!--.dislike-btn:hover {-->
<!--    background: #ffebee;-->
<!--    color: #c62828;-->
<!--}-->

<!--.icon {-->
<!--    margin-right: 6px;-->
<!--}-->

<!--.count {-->
<!--    font-weight: 600;-->
<!--}-->

<!--/* Адаптивность */-->
<!--@media (max-width: 768px) {-->
<!--    .reservation-header {-->
<!--        flex-direction: column;-->
<!--    }-->

<!--    .reservation-date {-->
<!--        align-self: flex-end;-->
<!--        margin: 5px 0 0 0;-->
<!--    }-->

<!--    .reservation-title {-->
<!--        font-size: 1.2rem;-->
<!--    }-->
<!--}-->
<!--    </style>-->

<!--    ОТЗЫВЫ-->

    {% for reservation in reservations %}
<div class="reservation"
     data-content-type="reservation"
     data-object-id="{{ reservation.id }}">
    <h3>
    {% if reservation.comment %}
        {{ reservation.comment }}
    {% else %}
        Бронирование #{{ reservation.id }}
    {% endif %}
</h3>

    <p>Дата: {{ reservation.date }}</p>

    <div class="votes">
        <button data-action="like" class="like-btn">
            👍 <span class="likes-count">{{ reservation.likes_count|default:0 }}</span>
        </button>
        <button data-action="dislike" class="dislike-btn">
            👎 <span class="dislikes-count">{{ reservation.dislikes_count|default:0 }}</span>
        </button>
    </div>
</div>
{% endfor %}


<!--    {% for reservation in reservations %}-->
<!--<div class="reservation-card"-->
<!--     data-content-type="reservation"-->
<!--     data-object-id="{{ reservation.id }}">-->

<!--    <div class="reservation-header">-->
<!--        <h3 class="reservation-title">-->
<!--            {% if reservation.comment %}-->
<!--                "{{ reservation.comment }}"-->
<!--            {% else %}-->
<!--                Бронирование #{{ reservation.id }}-->
<!--            {% endif %}-->
<!--        </h3>-->
<!--        <span class="reservation-date">{{ reservation.date|date:"d M Y" }}</span>-->
<!--    </div>-->

<!--    <div class="reservation-meta">-->
<!--        <span class="reservation-time">{{ reservation.time|time:"H:i" }}</span>-->
<!--        <span class="reservation-persons">{{ reservation.persons }} персоны</span>-->
<!--    </div>-->

<!--    <div class="reservation-actions">-->
<!--        <button data-action="like" class="vote-btn like-btn" aria-label="Нравится">-->
<!--            <span class="icon">👍</span>-->
<!--            <span class="count likes-count">{{ reservation.likes_count|default:0 }}</span>-->
<!--        </button>-->
<!--        <button data-action="dislike" class="vote-btn dislike-btn" aria-label="Не нравится">-->
<!--            <span class="icon">👎</span>-->
<!--            <span class="count dislikes-count">{{ reservation.dislikes_count|default:0 }}</span>-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->
<!--{% endfor %}-->


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="static/assets/images/white-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright Klassy Cafe Co.
                        
                        <br>Design: TemplateMo</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/accordions.js"></script>
    <script src="static/assets/js/datepicker.js"></script>
    <script src="static/assets/js/scrollreveal.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/imgfix.min.js"></script>
    <script src="static/assets/js/slick.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/isotope.js"></script>
    
    <!-- Global Init -->
    <script src="static/assets/js/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

    <script>
document.getElementById('contact').addEventListener('submit', function(e) {
    let isValid = true;
    const errors = {};

    // Проверка имени
    const name = document.getElementById('id_name').value;
    if (!name || !/^[A-Za-zА-Яа-яЁё\s]+$/.test(name)) {
        errors.name = 'Введите корректное имя (только буквы)';
        isValid = false;
    }

    // Проверка email
    const email = document.getElementById('id_email').value;
    if (!email || !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
        errors.email = 'Введите корректный email';
        isValid = false;
    }

    // Проверка телефона
    const phone = document.getElementById('id_phone').value;
    if (!phone || !/^\+?[0-9\s\-]+$/.test(phone)) {
        errors.phone = 'Номер телефона должен содержать только цифры, "+" или "-"';
        isValid = false;
    }

    // Проверка даты
    const date = document.getElementById('id_date').value;
    const today = new Date().toISOString().split('T')[0];
    if (!date || date < today) {
        errors.date = 'Дата не может быть в прошлом';
        isValid = false;
    }

    // Вывод ошибок
    Object.keys(errors).forEach(field => {
        const errorElement = document.getElementById(`${field}-error`);
        if (errorElement) {
            errorElement.textContent = errors[field];
        }
    });

    // Отмена отправки, если есть ошибки
    if (!isValid) {
        e.preventDefault();
    }
});
</script>
    <script>
function openTelegram() {
    const name = document.getElementById('name').value;
    const phone = document.getElementById('phone').value;
    const message = `Новая заявка от ${name}, тел: ${phone}`;

    window.open(`https://t.me/Alina_Shul_bot?start=${encodeURIComponent(message)}`, '_blank');
}
</script>


<!--этот код работал-->
<!--{% for reservation in reservations %}-->
<!--<div class="content-item"-->
<!--     data-content-type="reservation"-->
<!--     data-object-id="{{ reservation.id }}">-->

<!--    <button data-action="like">Like</button>-->
<!--    <button data-action="dislike">Dislike</button>-->

<!--    <span class="likes-count">{{ reservation.likes_count }}</span>-->
<!--    <span class="dislikes-count">{{ reservation.dislikes_count }}</span>-->
<!--</div>-->
<!--{% endfor %}-->


    <script>
    document.addEventListener('DOMContentLoaded', function() {
    document.addEventListener('click', async function(e) {
        const btn = e.target.closest('[data-action="like"], [data-action="dislike"]');
        if (!btn) return;

        const reservation = btn.closest('.reservation');
        const action = btn.dataset.action;
        const objectId = reservation.dataset.objectId;

        try {
            btn.disabled = true;

            const response = await fetch('/like_dislike/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify({
                    content_type: 'reservation',
                    object_id: objectId,
                    action: action
                })
            });

            const data = await response.json();

            if (data.success) {
                // Обновляем счетчики
                reservation.querySelector('.likes-count').textContent = data.likes;
                reservation.querySelector('.dislikes-count').textContent = data.dislikes;
            } else {
                alert('Ошибка: ' + (data.error || 'неизвестная ошибка'));
            }
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Ошибка соединения');
        } finally {
            btn.disabled = false;
        }
    });

    // Функция для получения CSRF токена
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
});







<!--  это тоже работает  -->
<!--    console.log('script start');-->
<!--document.addEventListener('click', async (e) => {-->
<!--console.log('click!!!');-->
<!--    const btn = e.target.closest('[data-action="like"], [data-action="dislike"]');-->
<!--    if (!btn) return;-->

<!--    const item = btn.closest('.content-item');-->
<!--    if (!item) {-->
<!--        console.error('Не найден элемент резервации');-->
<!--        return;-->
<!--    }-->

<!--    const objectId = item.dataset.objectId;-->
<!--    if (!objectId) {-->
<!--        console.error('ID резервации отсутствует');-->
<!--        return;-->
<!--    }-->

<!--    try {-->
<!--        btn.disabled = true;-->

<!--        const response = await fetch('/api/likes/', {-->
<!--            method: 'POST',-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json',-->
<!--                'X-CSRFToken': document.cookie.match(/csrftoken=([^;]+)/)[1],-->
<!--            },-->
<!--            body: JSON.stringify({-->
<!--                content_type: 'reservation',-->
<!--                object_id: objectId,-->
<!--                action: btn.dataset.action-->
<!--            })-->
<!--        });-->

<!--        const data = await response.json();-->

<!--        if (data.success) {-->
<!--            item.querySelector('.likes-count').textContent = data.likes;-->
<!--            item.querySelector('.dislikes-count').textContent = data.dislikes;-->
<!--        } else {-->
<!--            alert(data.error || 'Ошибка сервера');-->
<!--        }-->
<!--    } catch (err) {-->
<!--        console.error('Ошибка:', err);-->
<!--        alert('Ошибка соединения');-->
<!--    } finally {-->
<!--        btn.disabled = false;-->
<!--    }-->
<!--});-->

<!--    // Получение CSRF токена-->
<!--    function getCookie(name) {-->
<!--        const value = `; ${document.cookie}`;-->
<!--        const parts = value.split(`; ${name}=`);-->
<!--        if (parts.length === 2) return parts.pop().split(';').shift();-->
<!--    }-->
</script>


  </body>
</html>